<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HomePage</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="movieName" type="text" class="ghost-input" placeholder="Enter a movie name" required>
          <input type="submit" class="ghost-button" value="Search">
        </form>
        <% if(movies !== null){ %>
          <ul>
            <% for (var i = 0, len = movies.length; i < len; i++) { %>
              <li><a href="/movie?id=" onclick="this.href += <%= movies[i].id%>" target="_blank"><%= movies[i].title %></a></li>
            <% } %>
          </ul>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>